/* temporarily patch petrinet.css */
.css-petrinet-component svg {
    width: 100%;
    background: transparent; /* leave background color up to body */
}
body {
    padding: 0;
    /* background: #eee; */
    /* background-image: linear-gradient(to top, pink, rgba(0,0,255,0.5));*/
    /* background-image: linear-gradient(to bottom, #eee, #ddd);*/
    /* background: white; */
    background: #f1f5f8;
    /* background: transparent; */
}
.css-transition-rect {
    fill: var(--vscode-button-background);
}
.css-place-name-label,
.css-transition-name-label {
    text-anchor: middle;
}