.css-diagram-editor {
  outline: none !important;
  margin-right: 0.5rem;
  user-select: none;
}
.css-diagram-editor svg {
  background: var(--hiq-color-gray-7);
}
.css-operator-center {
  fill: var(--hiq-color-gray-8);
  stroke: var(--hiq-color-gray-5);
}
.css-operator-left,
.css-operator-right {
  fill: var(--hiq-color-gray-6);
  stroke: var(--hiq-color-gray-5);
}
.css-operator-label {
  pointer-events: none; /* mouse should click through to the underlying rectangle */
  text-anchor: middle;
  dominant-baseline: middle;
  fill: var(--hiq-color-gray-4);
}
.css-operator-container.css-selected .css-operator-center {
  fill:   var(--stbx-color-primary);
  stroke: var(--stbx-active-color-primary);
}
.css-operator-container.css-selected .css-operator-left,
.css-operator-container.css-selected .css-operator-right {
  fill:   var(--stbx-color-primary);
  stroke: var(--stbx-active-color-primary);
}
.css-operator-container.css-selected .css-operator-label {
  fill: white;
}
.css-ghost {
  fill:   var(--stbx-color-primary);
  stroke: var(--stbx-color-primary);
  opacity: 0.5;
}
.css-ghost-snapped {
  stroke: var(--hiq-color-gray-4);
  stroke-dasharray: 5,5;
  fill: none;
}
.css-diagram-editor-properties-view {
}
